/* Set background image, colour and alignment. */
body             {background-color: black;}
/* General Image Formatting */
img              {border-color: white;}
img.menu         {border-width: 0;}
/* General DIV Formatting, the DIV contains the images that link to each of
the project pages from each of the project pages */
div              {margin: 2.6%}
/* General Paragraph formatting */
p                {
                  font-family: "Trebuchet MS", verdana, arial, sans-serif;
                  color: white;
                  margin: 0px;
}
/* Formatting of the header of the page such as "Home Page" */
p.subject        {
                  font-family: "Trebuchet MS", verdana, arial, sans-serif;
                  font-size: 95%;
                  color: #C06000;
}
/* Formatting of the text in the contact table */
p.contact        {
                  font-family: "Trebuchet MS", verdana, arial, sans-serif;
                  font-size: 95%;
                  color: black;
}
/* The table that contains the main background image and holds all the content of the page */
table.back       {
                  background-image: url(logos/matbg1024.jpg);
                  background-position: center;
                  background-repeat: no-repeat;
                  width: 1024px;
                  height: 768px;
}
/* The table that contains the logo and navigation */
table.top        {
                  border-width: 0;
                  border-color: white;
                  width: 720px;
}
/* The table that contains the main content of the page */
table.maintable  {
                  border-style: solid solid none solid;
                  border-width: 4px;
                  border-color: #C06000;
                  width: 720px;
}
/* The table that contains the contact information */
table.contact    {
                  background-color: #C06000;
                  width: 720px;
}
td.subject        {
                  border-bottom: medium groove #C06000;
                  border-width: 1px;
                  border-color: #C06000;
}
/* The main cell of the maintable, the cell that contains the main content and 
the darkened section of the background image */
td.mainback      {
                  background-image: url(logos/mainback451.jpg);
                  background-position: center;
                  height: 450px;
}
/* Colours of the links on the website */
a:link           {color: white;}
a:visited        {color: white;}
a:hover          {color: #484848;}
a:active         {color: white;}
